/*INDEX*/

body {
  background-color: #e5e5e5;
  font-family: 'Roboto', 'Arial', sans-serif;
}

:root {
  --color-hover-focus: rgba(33, 150, 243, 1);
  --color-letra-blanca: rgba(255, 255, 255, 1);
  --color-resaltado-boton: rgba(33, 150, 243, 1);
}
footer {
  display: flex;
  width: 1600px;
  height: 252px;
  background-color: rgba(47, 48, 58, 1);
  height: 252px;
  line-height: 1.7em;
  margin-top: 85px;
}
.container-principal {
  display: flex;
  flex-direction: column;
  width: 1600px;
  background-color: rgb(255, 255, 255, 1);
  background-size: 100vw;
  align-items: center;
  margin: auto;
}
.container-principal-portafolio {
  display: flex;
  flex-direction: column;
  width: 1600px;
  background-color: rgb(255, 255, 255, 1);
  background-size: 100vw;
  align-items: center;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}
/*SECCION SOLUCIONES*/
.soluciones {
  display: flex;
  background-color: rgba(47, 48, 58, 1);
  line-height: 3em;
  width: 1600px;
  height: 600px;
  align-items: center;
  margin: auto;
}

.titulo-soluciones {
  color: var(--color-letra-blanca);
  line-height: 1em;
}
.titulo-soluciones:hover {
  color: var(--color-hover-focus);
}
.boton-uno {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--color-resaltado-boton);
  color: var(--color-letra-blanca);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.8em;
  width: 261px;
  height: 50px;
  border: 3px;
  padding: 10px, 32px, 10px, 32px;
  margin-top: 40px;
}
.contenedor-soluciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.boton-uno:focus {
  background-color: var(--color-hover-focus);
  color: var(--color-letra-blanca);
}
.boton-uno:hover {
  background-color: var(--color-hover-focus);
  color: var(--color-letra-blanca);
}
main {
  line-height: 1.7em;
}

/*TITULO Y TEXTO*/
.index-title {
  cursor: pointer;
  text-transform: uppercase;
  color: rgba(33, 33, 33, 1);
  height: 16px;
  width: 270px;
  line-height: 16.41px;
}
.index-text {
  height: 96px;
  width: 270px;
  left: 515px;
  top: 801px;
}
.index-title:hover,
.index-text:hover {
  color: var(--color-hover-focus);
}
.detalles li {
  list-style: none;
}
.imagen:hover {
  border: 2px solid var(--color-hover-focus);
}

.cajitas {
  display: flex;
  width: 1200px;
  margin: auto;
  height: 122px;
  left: 215px;
  top: 775px;
  margin-top: 95px;
}
.future {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px;
  flex-shrink: 30%;
}
/*INFORMACION A QUE NOS DEDICAMOS*/
.informacion li {
  list-style: none;
}
.titulo-dos:hover {
  color: var(--color-hover-focus);
}
.contenedor-fotografias {
  display: flex;
  width: 1200px;
  height: 600px;
  align-items: center;
  margin: auto;
}
.imagenes {
  display: flex;

  margin-top: 55px;
}
.fotografia {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px;
}

/*EQUIPO*/
.link {
  text-decoration: none;
  --height: 1.5em;
}
.equipo li {
  list-style: none;
}

.nombre:hover,
.texto-nombre:hover {
  color: var(--color-hover-focus);
  border: none;
}
.equipo {
  display: flex;
  width: 100%;
  background-color: rgba(245, 244, 250, 1);
}
.contenedor-equipo {
  display: block;
  width: 1200px;
  margin: auto;
  height: 710px;
  padding-top: 95px;
  justify-items: center;
  align-items: center;
}

.titulo-dos {
  display: flex;
  width: 263px;
  height: 120px;
  justify-items: center;
  align-items: center;
  margin: auto;
}
.contenedor-de-foto {
  display: flex;
  height: 368px;
  width: 100%;
}
.mi-equipo {
  display: flex;
  flex-wrap: nowrap;
  gap: 35px;
}
.foto {
  padding: 0px;
  background-color: rgba(255, 255, 255, 1);
  width: 270px;
}
/*PORTAFOLIO*/
header {
  line-height: 1, 7em;
}
/*TITULO*/
/*navegacion*/
.page-header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.sitio-navegacion {
  height: 80px;
  align-items: center;
  margin: auto;
}
.contenedor-navegacion {
  display: flex;
  height: 80px;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.menu {
  display: flex;
  width: 285px;
  height: 16x;
  padding: 15px;
  margin-left:50px ;
  list-style: none;
  justify-content: space-between;

}
.numero {
  display: inline-flex;
  width: 285px;
  height: 16x;
  padding: 15px;
  margin: 0;
  list-style: none;
  justify-content: flex-end;
}
.sitio-navegacion li {
  list-style: none;
}
.logo {
  font-family: raleway;
  font-size: 26px;
  text-decoration: none;
  color: rgba(33, 150, 243, 1);
  display: flex;
  width: 151px;
  height: 35px;
}
.logo:focus {
  color: var(--color-hover-focus);
}
.linea {
  border-top: 0.1em solid rgba(236, 236, 236, 1);
  height: 2px;
  max-width: 1800px;
  padding: 0;
  margin: 20px auto 0 auto;
}

/*SECCION LINK*/
.link-active,
.link-contacto {
  font-weight: 500;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.link-active {
  color: var(--color-hover-focus);
}
.link-active:focus,
.link-contacto:focus {
  color: var(--color-hover-focus);
}
.link-active:hover,
.link-contacto:hover {
  color: var(--color-hover-focus);
}

/*CONTACTOS*/
.contacto {
  text-decoration: none;
  color: #757575;
  cursor: pointer;
  list-style: none;
}
.contacto:focus {
  color: var(--color-hover-focus);
}
.contacto:hover {
  color: var(--color-hover-focus);
}
/*BOTONES*/
.section-portafolio {
  line-height: 2em;
}
.section-portafolio li {
  list-style: none;
}
.boton-type,
.boton-type-todo {
  font-weight: 700;
  color: rgba(33, 33, 33, 1);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.boton-type-todo {
  background-color: var(--color-resaltado-boton);
}
.boton-type:focus,
.boton-type-todo:focus {
  background: var(--color-hover-focus);
  color: var(--color-letra-blanca);
}
.boton-type:hover,
.boton-type-todo:hover {
  background-color: var(--color-hover-focus);
  color: var(--color-letra-blanca);
}
.contenedor-de-botones {
  display: flex;
  align-content: center;
  margin: auto;
}
.portafolio {
  display: flex;
  height: 1400px;
  align-self: center;
  margin: auto;
  margin-top: 100px;
}
.section-portafolio {
  display: block-flex;
  height: 1360px;
}
.boton {
  display: flex;
  width: 750px;
  height: 100px;
  align-content: center;
  margin: auto;
}
.items {
  display: flex;
  width: 300px;
  height: 60px;
  align-items: center;
  margin: auto;
}
.boton-type,
.boton-type-todo {
  display: flex;
  width: 145px;
  height: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 6px;
}

/*PROYECTOS*/
.portafolio-title,
.portafolio-text {
  font-size: 18px;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.fotos {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.portafolio-title:focus,
.portafolio-text:focus {
  color: var(--color-hover-focus);
}
.portafolio-title:hover,
.portafolio-text:hover {
  color: var(--color-hover-focus);
}
.proyectos {
  display: block;
  justify-items: center;
  align-items: center;
  margin: auto;
}
.grupo-uno {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.fotos {
  display: flex;
  background-color: rgb(252, 252, 252);
}
/*DIRECCION*/
.logo-dos {
  font-family: raleway;
  font-size: 26px;
  text-decoration: none;
  color: rgba(33, 150, 243, 1);
}
.logo-dos:focus {
  color: var(--color-hover-focus);
}
.direccion {
  color: var(--color-letra-blanca);
  text-decoration: none;
  cursor: pointer;
}
.pie-de-pagina li {
  list-style: none;
}
.contenedor-direccion {
  display: block;
  height: 120px;
  width: 1200px;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.nombre {
  display: block;
  height: 30px;
  width: 165px;
  align-items: center;
  margin: auto;
  text-align: center;
  margin: auto;
}
.texto-nombre {
  display: block;
  height: 30px;
  width: 160px;
  align-items: center;
  margin: auto;
  text-align: center;
  margin: auto;
}
.direccion:focus {
  color: var(--color-hover-focus);
}
.direccion:hover {
  color: var(--color-hover-focus);
}
.contacto-dos {
  text-decoration: none;
  color: #757575;
  cursor: pointer;
  list-style: none;
}
.contacto-dos:focus {
  color: var(--color-hover-focus);
}
.contacto-dos:hover {
  color: var(--color-hover-focus);
}
